
<footer class="page-footer #00b7f2 darken-3">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">StoryBooks</h5>
        <p class="grey-text text-lighten-4">write stories that you always wanted to write here on storybooks</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text"> Follow Us on </h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/imsdolta" target="_blank"><i class="fab fa-github"></i>  github</a></li>
            <li></i><a class="grey-text text-lighten-3" href="www.twitter.com/sachin_dolta" target="_blank" ><i class="fab fa-twitter"></i>  Twitter</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2020 StoryBooks
    </div>
    </div>
</footer>