
<nav>
  <div class="nav-wrapper  purple darken-3">
    <img class="brand-logo" src="">
    <ul id="nav-mobile" class="right">
      <li><a href="/stories">Public Stories</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">LogOut</a></li>
    </ul>
  </div>
</nav> 

