<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <title>StoryBooks</title>
   
</head>

<body>
    {{> _header}}
    <div class="container">
        {{{body}}}
        {{> _add_btn}}
    </div>
    <br><br>
    {{> _footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav','edge'))
        M.FormSelect.init(document.querySelector('#status'))

        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
    </script>
</body>

</html>

{{!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/369c45c001.js" crossorigin="anonymous"></script>
    <title>Frontend Mentor | Clipboard Landing Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" type="text/css" media="all">
</head>

<body>
    <header>
        <div class="navbar">
            <img src="https://www.flaticon.com/svg/static/icons/svg/708/708739.svg" class="logo" alt="logo">
        </div>
    </header>
    <div class="content">
        <div class="section1">
            <img src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/illustration-intro.png?raw=true" alt="people and folders">
            <div class="mountain">
                <div class="mountain-words">
                    <h1> write stories that you always wanted to write here on storybooks</h1>
                    <button class="get-started">Get Started</button> <br><br>
                    <h2> Storybooks is a plateform to create and read amazing stories from a wide range of creators</h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="left">
            <img id="logo" src="https://www.flaticon.com/svg/static/icons/svg/708/708739.svg" width="30%" alt="logo">
            <div class="left2">
                <img id="pin" src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-location.svg" alt="location pin">
            </div>
        </div>
        <div class="contact">
            <div><img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-phone.svg" alt="phone">
                <p>+1-543-123-4567</p>
            </div>
            <div><img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-email.svg" alt="email">

            </div>
        </div>
        
        <ul class="social">
            <li><i class="fab fa-github" href="github.com/imsdolta" target="_blank"></i></li>
            <li><i class="fab fa-twitter" target="_blank"><a href="https://www.twitter.com/imsdolta" class=""></a></i></li>
        </ul>
    </footer>

</body>

</html> --}}